{% extends 'base.html.twig' %}

{% block bodyheader %}
    <h1>
        Bienvenue
        <small> to Smd </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
{% endblock %}
{% block body %}
    Hi {{ user }}
{% endblock %}


